# Angular and NestJS specific
dist/
out-tsc/
tmp/
coverage/
e2e/test-output/
.angular/

# Node modules and dependency files
node_modules/
yarn.lock

# Environment and Local Settings
.env
*.local.json

# OS and Tool artifacts
.DS_Store
.backup/
.angular-cli.json
.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
package-lock.json
